@charset "utf-8";
body,ul,ol,h1,h2,h3,h4,h5,h6,p,input,select,textarea,dl,dd{margin: 0;padding: 0;}
ul,ol{list-style: none;}
input,select,textarea{background-color: transparent; border: none; outline: none;}
textarea{resize: none;}
img{vertical-align: top;}
a{text-decoration: none;-webkit-tap-highlight-color: transparent;}

html {-webkit-text-size-adjust: none;}


.clearfix:after,.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom:1;}
.fr{float: right;} .fl{float: left;}
img{
	display: block;
}

body{
	background-color: #E8E8E8;
}

header{
	background-color: #38474E;
	padding: 0 0.6rem;
}

header .hd_top{
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: 0.65rem;
	color: #fff;
}
.hd_top h5{
	padding-left: 1.125rem;
}
.hd_top i{
	width: 0.7rem;
	height: 0.475rem;
	border-radius: 9px;
	background-color: #fff;
	text-align: center;
	line-height: 0.475rem;
	position: absolute;
	left: 0.5rem; top:0.675rem;
	color: black;
	font-style: normal;
	font-size: 0.3rem;
}
.gwc{
	position: relative;
	color: red;	
}

.hd_btm{
	height: 1.575rem;
	font-size: 0.5rem;
	color: #fff;
	padding-bottom: 0.4rem;
}

.hd_btm div{
	width: 7.175rem;
	height: 1.575rem;
	border-radius: 2px;
	text-align: center;
	line-height: 1.575rem;
	
}
.hd_btm .btn1{
	background-color: #2D393F;
	float: left;
}
.hd_btm .btn2{
	background-color: #F5846A;
	float: right;
}

.banner{
	margin: 0.6rem;
	width: 14.75rem;
	border-radius:8px;
	box-shadow: 0 0 0.1rem 0.025rem #ccc;
	overflow: hidden;
	background-color: #fff;
}
.banner img{
	width: 14.8rem;
	height: 11.8rem;
}

.banner .text{
	font-size: 0.6rem;
	height: 1.675rem;
	line-height: 1.675rem;
	padding: 0.625rem 0.6rem 0.625rem 1.05rem;
}
.qian{
	width: 3.6rem;
	height: 1.675rem;
	border-radius:2px;
	background-color: #BFBFC4;
	text-align: center;
	line-height:1.675rem;
	color: #fff;
}

.jia{
	margin: 0.6rem;
	border-radius:8px;
	box-shadow: 0 0 0.1rem 0.025rem #ccc;
	font-size: 0.6rem;
	height: 2.6rem;
	line-height: 2.6rem;
	background-color: #fff;	
}
.jia span{
	margin-left: 1.1rem;
	padding-left: 1.75rem;
	background: url(../img/jia.jpg) no-repeat left center;
	background-size: 0.6rem 0.6rem;
}

.centont{
	border-radius:8px;
	box-shadow: 0 0 0.1rem 0.025rem #ccc;
	background-color: #fff;
	margin: 0.6rem;
}

.cen_tp{
	width: 11.35rem;
	height: 6.25rem;
	margin-left: 1.775rem;
	border-bottom: 2px solid #DCDCDC;
}
.cen_tp .p1{
	width: 100%;
	height: 0.65rem;
	background: url(../img/shuidi.png) no-repeat 4.1rem center;
	font-size: 0.5rem;
	text-align: center;
	margin-top: 0.85rem;
	box-sizing: border-box;
}
.cen_tp .p2{
	height: 0.5rem;
	font-size: 0.5rem;
	text-align: center;
	margin-top: 0.5rem;
}
.cen_tp div{
	margin-left: 2.375rem;
	margin-top: 0.9rem;

}
.cen_tp div img{
	width: 1.77rem;
	height: 1.77rem;
	float: left;
	margin-right: 0.625rem;
}
.cen_dmt{
	border-top: 1px solid transparent;
	width: 11.35rem;
	height: 8.45rem;
	margin: 0 auto;
}
.cen_dmt .p1{
	width: 2.625rem;
	line-height: 0.65rem;
	background: url(../img/yifujia.png ) no-repeat left center;
	margin: 0.925rem auto 0 auto;
}
.cen_dmt .p1 span{
	font-size: 0.65rem;
	margin-left: 1.25rem;
	
}
.cen_dmt .p2{
	width: 6.25rem;
	height: 0.5rem;
	font-size: 0.5rem;
	margin: 0.575rem auto 0 auto;
}
.cen_dmt ul{
	margin-top: 0.9rem;
}
.cen_dmt ul li{
	width: 1.775rem;
	height: 1.775rem;
	background-color: #DADADE;
	margin-right: 0.6rem;
	float: left;
	font-size: 0.4rem;
	line-height: 1.775rem;
	text-align: center;
	border-radius: 5px;
}
.cen_dmt ul .li10{
	margin-right: 0;
}
.add{
	width: 13.85rem;
	height: 3rem;
	background-color: #3A4144;
	border-radius:8px;
	margin: 0 auto;
}
.add p{
	font-size: 0.8rem;
	line-height: 3rem;
	text-align: center;
	color: #fff;
}
.so{
	width: 14.75rem;
	height: 8.4rem;
	border-top: 1px solid #C9CBCC;
	margin: 0.6rem auto;
	position: relative;
}
.so ul{
	width: 100%;
	height: 1.85rem;
	margin-top: 2.7rem;
}
.so ul li{
	width: 3.9rem;
	height: 1.85rem;
	float: left;
	margin-right: 1.52rem;
}
.so ul .li1{
	margin-right: 0;
}
.so ul li img{
	width: 1.85rem;
	height: 1.85rem;
	margin-right: 0.56rem;
}
.so ul li img,.so ul li p{
	float: left;
}
.so ul li p{
	width: 1.47rem;
	height: 0.97rem;
	background-color: #fff;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.97rem;
	margin-top: 0.45rem;
	border-radius: 0 3px 3px 3px;
	box-shadow: 0 0.05rem 0.1rem #D4D4D4;
	position: relative;
}
.so ul li p i{
	display: inline-block;
	border: 0.27rem solid #fff;
	position: absolute;
	left: -0.25rem; top: -0.25rem;
	border-color: #fff transparent transparent transparent;
	transform: rotate(-135deg);
}
.so>p{
	width: 4.02rem;
	height: 0.45rem;
	font-size: 0.45rem;
	background-color: #E8E8E8;
	position: absolute;
	left: 0;top: -0.22rem;
}













